/*===========================================================================================*/
/*ГЛОБАЛЬНІ ПАРАМЕТРИ*/
hr {margin: 0;}

h1 {	
	font-size: 30px;
	margin: 0;
	padding: 10px 5px 15px;
	text-align: center;	
	color: white;
	font-weight: normal;
}

h2 {	
	font-size: 24px;
	margin: 0;
	padding: 7px 5px 10px;
	text-align: center;	
	color: dimgray;
	font-weight: normal;
}

h3 {	
	font-size: 20px;
	margin: 0;
	padding: 5px;
	text-align: center;	
	color: dimgray;
	font-weight: normal;
}

/*===========================================================================================*/
/*ШРИФТИ для всього Сайту*/

body {
	font-family: Verdana, sans-serif;
}

/*===========================================================================================*/
/*ЗМІННІ*/

/*Кольори*/

:root {
	--Dmytro-gray: ;
}

/*===========================================================================================*/
/*HEADER*/

header {
	background-color: dimgray;
	/*height: 100px;*/
}

header h1 a {
	color: white;
}

header h1 a:hover {
	color: lightgrey;
}

/*===========================================================================================*/
/*ГАЛЕРЕЯ*/

.galery {
	display: flex;
	justify-content: center; /*Компоную дочірні ел. по центру*/
	flex-wrap: wrap; /*Властивість, яка змушує дочірні ел. перескакувати на наступну строку*/
}

.galery-module {
	width: 300px; /*Задаю ширину ел. галереї*/
	/*height: 250px;*/
	/*background: lightgray;*/
	margin: 5px 5px 25px;
	/*border: 1px solid red;*/
}

.galery-img {
	width: 300px;
	height: 212px;
	/*clip: rect(0px, 212px, 300px, 0px);*/ /*Спроба підрізати по висоті картинки - невдала*/
}

.galery-img:hover {
	transform: scale(1.05);
}

h4 {
	font-size: 15px;
	font-weight: normal;
	text-align: center;
	margin: 5px;
	color: dimgray;
}

a {
	text-decoration:none; /*Прибираю підкреслювання з тексту посилань*/
}

/*===========================================================================================*/
/*FOOTER*/

footer {
	display: flex;
	justify-content: center; /*Компоную дочірні ел. по центру*/
	flex-wrap: wrap; /*Властивість, яка змушує дочірні ел. перескакувати на наступну строку*/
}

footer p {
	color: dimgray;
	margin: 10px;
}

/*===========================================================================================*/
/*СТОРІНКИ ПРОЄКТІВ*/

.object-img {
	width: 100%;
}

.legend {
	color: dimgray;
	margin: 30px;
	text-align: justify;
}